extend layout

block content
	script(type='text/javascript', src='http://www.caster.fm/embed.php?uid=113641')

block sidebar
	.widget
		h1 AN_DREAS
		img(src='logo.png', width='50%', style='padding:40px')