!!!5
html
	head
		title #{title} - Hundrafem komma bry
		link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
	body
		header
			h1 Hundrafem komma bry
		.container
			.main-content
				block content
			.chat
				block chat
			.sidebar
				block sidebar
		footer
			p
				:markdown
					Running on Shakespeare on Rails with [Brainfuck engine](https://github.com/bystam/brainfuck)