!!!5
html
	head
		title #{title} - Hundrafem komma bry
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 Hundrafem komma bry
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			p Running on node with Express, Jade and Stylus